{erl_opts, [
  {platform_define, "(R12|R13|R14|R15|R16|17)", 'OLD_RANDOM'}
]}.

{plugins, [
     {rebar3_proper, ".*", {git, "https://github.com/ferd/rebar3_proper.git", {tag, "0.4.0"}}}
]}.

{profiles, [
  {test, [
    {deps, [
        {proper, {git, "git://github.com/manopapad/proper.git", {ref, "1b773ee"}}}
    ]}
  ]}
]}.
